/* ====================================
// scss variables
// ==================================== */

$whiteCream: #fffaf3;
$blackCoat: #000;
$font-size--base: 16px;
$font-weight--base: 400;
$font-fam--base: "Satoshi", sans-serif;
$font-size--title: 60px;
$font-weight--base: 400;
$font-fam--base: "Oldstyle Italic", serif;

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: $font-size--base;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

body {
  background-color: $blackCoat;
}

.l-container {
  margin: auto;
  width: calc(100% - 30%);
  max-width: 1200px;
  position: relative;
  .l-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    .l-col-12 {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

header {
  position: sticky;
  top: 0;
  z-index: 100000;
  padding: 32px 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, #000 100%);
  .burger-menu {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 13px;
    [class^="bar-"] {
      height: 2px;
      width: 26px;
      background-color: $whiteCream;
      transition: all 300ms ease-in-out;
    }
  }
}

.interactive-exp {
  [class^="wrapper-box-"] {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: dotted blue 2px;
    [class^="box-"] {
      width: 550px;
      height: 216px;
    }
    .box-1 {
      background-color: red;
    }
    .box-2 {
      background-color: green;
    }
    .box-3 {
      background-color: blue;
    }
    .box-4 {
      background-color: yellow;
    }
    .box-5 {
      background-color: red;
    }
    .box-6 {
      background-color: green;
    }
    .box-7 {
      background-color: blue;
    }
    .box-8 {
      background-color: yellow;
    }
    .box-9 {
      background-color: red;
    }
    .box-10 {
      background-color: green;
    }
    .box-11 {
      background-color: blue;
    }
    .box-12 {
      background-color: yellow;
    }
  }
}
